/* Header */

#Header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px #333;
}

#Header h1 {
  font-size: 20rem;
  color: #fff;

  font-family: 'Nicholia';
  text-align: center;
  margin-bottom: 10px;
}

#Header h3 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
}

#Header p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  display: flex;
  width: 75%;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
  font-family: 'Martel' !important;
  text-align: center;
  -webkit-text-emphasis: open;
}

#Header .btn-success {
  margin-top: 2rem;
}

#Header .btn-success a {
  color: #333;
  padding: 1rem 1rem;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

/* End of Header */

/* Footer  */
#Footer {
  height: 100px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Footer */

.landing-grid {
  text-align: inherit;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-grid h1 {
  font-family: 'Nicholia';
  color: rgba(224, 224, 224, 0.6);
  font-size: 17rem;
  /* margin: 0px 10px 10px 500px; */
}

.landing-grid h3 {
  color: rgba(224, 224, 224, 0.9);
  font-size: 3rem;
  /* margin: 0px 10px 10px 500px; */
}

h1 {
  margin-top: 0 !important;
  line-height: 1 !important;
}

h3 {
  margin-bottom: 0 !important;
}

.flip-countdown.size-medium .flip-countdown-piece .flip-countdown-title {
  font-size: 24px;
  font-family: 'Martel, serif' !important;
  color: white;
}

.mdl-layout__drawer {
  background-color: rgba(14, 14, 14, 0.8) !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgba(255, 255, 255, 0.9) !important;
}

.mdl-layout__drawer.is-visible {
  border: none !important;
}

/* .homeTexture {
  opacity: 30%;
} */

header {
  font-family: 'Dancing Script', cursive;
}

.mdl-layout__drawer-button:hover {
  background-color: rgba(0, 23, 43, 0.2) !important;
  color: #000428;
  border-radius: 10px;
}

.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link:hover {
  color: white;
  background-color: rgba(32, 32, 32, 0.3);
}

header a:hover {
  background-color: rgba(0, 23, 43, 0.2);
  color: #000428;
  border-radius: 10px;
}

header link .nav-color {
  background-color: rgba(236, 236, 236, 0.753);
  color: #000428;
  border-radius: 10px;
}

.mdl-navigation__link {
  color: rgb(66, 66, 66);
  text-decoration: none;
  font-family: 'Martel, serif' !important;
  margin: 0;
  font-size: 24px !important;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  color: white;
}

a hover {
  color: rgba(236, 236, 236, 0.1);
}

/* new styles for landingpage */
.demo-layout-transparent {
  background: url('./assets/images/bigscreenback.jpg') center/ cover;
  max-width: 100%;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
//      your background is light. */
  color: white;
}

.mdl-layout__drawer-button:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .landing-grid {
    text-align: inherit;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .landing-grid h1 {
    font-family: Nicholia;
    color: rgba(224, 224, 224, 0.6);
    font-size: 17rem;
    /* margin: 0px 10px 10px 500px; */
  }

  .landing-grid h3 {
    color: rgba(224, 224, 224, 0.9);
    font-size: 3rem;
    /* margin: 0px 10px 10px 500px; */
  }

  h1 {
    margin-top: 0 !important;
    line-height: 1 !important;
  }

  h3 {
    margin-bottom: 0 !important;
  }

  .flip-countdown.size-medium .flip-countdown-piece .flip-countdown-title {
    font-size: 24px;
    font-family: 'Martel, serif' !important;
    color: white;
  }

  .mdl-layout__drawer {
    background-color: rgba(14, 14, 14, 0.8) !important;
  }

  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .mdl-layout__drawer.is-visible {
    border: none !important;
  }

  /* .homeTexture {
    opacity: 30%;
  } */

  header {
    font-family: 'Dancing Script', cursive;
  }

  .mdl-layout__drawer-button:hover {
    background-color: rgba(0, 23, 43, 0.2);
    color: #000428;
    border-radius: 10px;
  }

  .mdl-layout__drawer .mdl-navigation a.mdl-navigation__link:hover {
    color: white;
    background-color: rgba(32, 32, 32, 0.3);
  }

  header a:hover {
    background-color: rgba(0, 23, 43, 0.2);
    color: #000428;
    border-radius: 10px;
  }

  header link .nav-color {
    background-color: rgba(236, 236, 236, 0.753);
    color: #000428;
    border-radius: 10px;
  }

  .mdl-navigation__link {
    color: rgb(66, 66, 66);
    text-decoration: none;
    font-family: 'Martel, serif' !important;
    margin: 0;
    font-size: 24px !important;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: 0.87;
  }

  .mdl-layout__header-row .mdl-navigation__link:hover {
    color: white;
  }

  a hover {
    color: rgba(236, 236, 236, 0.1);
  }

  /* new styles for landingpage */
  .demo-layout-transparent {
    background: url('./assets/images/Ruve&Terahje-933.jpg') center/ cover;
    width: auto;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
//      your background is light. */
    color: white;
  }
}
