/* .landing-grid { */
/* background-image: url(./assets/images/landBack.jpg); */
/* background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
/* }

/* .homeTexture {
  opacity: 30%;
} */

header {
  font-family: 'Dancing Script', cursive;
}

.mdl-layout__drawer-button:hover {
  background-color: rgba(236, 236, 236, 0.753);
  color: #000428;
  border-radius: 10px;
}

.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link:hover {
  color: white;
  background-color: rgba(0, 34, 65, 0.7);
}

header a:hover {
  background-color: rgba(0, 23, 43, 0.7);
  color: #000428;
  border-radius: 10px;
}

header link .nav-color {
  background-color: rgba(236, 236, 236, 0.753);
  color: #000428;
  border-radius: 10px;
}

.mdl-navigation__link {
  color: rgb(66, 66, 66);
  text-decoration: none;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  color: white;
}

/* new styles for landingpage */
.demo-layout-transparent {
  background: url('./assets/images/Ruve&Terahje-933.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
//      your background is light. */
  color: white;
}
